

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--bg-color);
    border-bottom: 1px solid var(--bdr);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding: 1.25rem;
    margin-bottom: 1rem;
}
.input-group{
    max-width: 400px;
}
.title{
  font-size: 20px;
  font-weight: 700;
  color: #495057;
  font-family: sans-serif;
}
.form-select{
  width: 240PX;
  border-radius: 20px;
  border: 1px solid var(--bdr);
}
.input-controll{
  border-radius: 8px;
  border: 1px solid var(--bdr);
  appearance: none;
  width: 200px;
  padding: 4px 10px;
  outline: 0 !important;
}
.h5{
    margin-bottom: 0;
}

.card.card-body{
  background: var(--bg-color);
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  /* Style the product card */
  .product-card {
    width: calc(33.33% - 10px);
    margin-bottom: 20px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    background-color: #fff;
  }
  
  /* Style the product image */
  .product-card img {
    max-width: 100%;
    border-radius: 4px;
  }
  
  /* Style the product name */
  .product-card p {
    margin: 10px 0;
    font-size: 16px;
    font-weight: bold;
  }
  
  /* Style the product details */
  .product-card span {
    font-size: 14px;
    color: #666;
  }
  
  /* Style the product rating */
  .product-card .product-rating {
    color: #f39c12;
    font-size: 18px;
  }

  .card{
    margin-bottom: 1rem;
  }

  .product-image{
    width: 200px;
    height: 200px;
    margin: 0 auto;
    display: block;
  }

  .prod-img{
    min-height: 100px;
  }

  .card-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 12px;
  }


  .form-group{
    display: flex;
    gap: 10px;
    align-items: center;
  }
  .btn-group{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    width: max-content;
    margin: 0 auto;
  }
  .btn-primary{
    display: block;
    min-width: 160px;
    min-height: 46px;
  }

  @media screen and (max-width: 767px) {
    .card-grid{
      grid-template-columns: repeat(1, 1fr);
    }
    .title{
      font-size: 1rem;
    }
    .form-select{
      width: 124px;
    }
    .btn-primary{
      margin: 0;
    }
    .btn-group{
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 12px;
      background: var(--bg-color);
      margin: 0;
      width: 100%;
    }
  }